 <div class="container">
   <div class="row">
     <div class="col-lg-8 offset-lg-2">
       <h1><%= "ボードの登録画面　仮" %></h1>
       <%= render 'snow_board', { snow_board: @snow_board } %>
     </div>
   </div>
 </div>