<footer id='footer' class='footer-bottom'>
  <div class='container'>
    <div class='row'>
      <div class='col-sm-6 col-12'>
        <div class='copyright'>
          <p>Copyright © 2022. ここはコピーライトのところ</p>
          <%= link_to 'ログアウト', logout_path, class: 'dropdown-item', method: :delete %>
        </div>
      </div>
    </div>
  </div>
</footer>