<footer id='footer' class='footer-bottom'>
  <div class='container'>
    <div class='row'>
      <div class='col-sm-6 col-12'>
        <div class="footer-title">
          <h3>スノボーカスタム</h3>
          <h4>snowboard custom</h4>
        </div>
          <div class="footer-contents">
            <p><%= link_to "トップ" ,root_path %></p>
            <p><%= link_to "プライバシーポリシー", 'https://kiyac.app/privacypolicy/X9McE9NamACwUowir3XB' %></p>
          </div>
          <div class="footer-customar">
            <p>お問合せ
              <a href="https://twitter.com/apple45stt?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow @apple45stt</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
              <i class="fa fa-envelope" aria-hidden="true"></i>
              <a href="mailto:apple45&#64;gmail.com" class="mail" >apple45stt@gmail.com</a>
            </p>
          </div>
            <div class='copyright'><small>© 2023 Sayu</small></div>
      </div>
    </div>
  </div>
</footer>