<footer id='footer' class='footer-bottom'>
  <div class='container'>
    <div class='row'>
      <div class='col-sm-6 col-12'>
        <div class='copyright'>
        <p>お問合せ</p> <%= link_to "プライバシーポリシー", 'https://kiyac.app/privacypolicy/X9McE9NamACwUowir3XB' %>
        </div>
      </div>
    </div>
  </div>
</footer>