.header-main{
    border-bottom: solid 1px white;
}

.header-main > h1{
    color: white;
    margin: 5px;
    position: relative;
    top: 30px;
    left: 2%;
    width: 180px;
}

.header-main > p{
    color: white;
    position: relative;
    top: 25px;
    left: 3%;
    width: 180px;
}

.header-link{
    text-decoration: none;
    color: white;
    position: relative;
    left: 45%;
    bottom: 60px;
    margin: 10px;
}

.header-link:hover{
    color: #fff;
    background: #000;
}

.mypage-toggle{
    text-decoration: none;
    color: white;
    position: relative;
    left: 82%;
    bottom: 85px;
}

.before-header-link{
    text-decoration: none;
    color: white;
    position: relative;
    left: 80%;
    bottom: 60px;
    margin: 10px;
}

.before-header-link:hover{
    color: #fff;
    background: #000;
}






@media screen and (max-width: 960px){
    .header-main{
        border-bottom: solid 1px black;
        max-width: 960px;
        margin: 0 auto;
    }
    
    .header-main > h1{
        color: white;
        margin: 5px;
        position: relative;
        top: 30px;
        left: 2%;
        width: 180px;
    }
    
    .header-main > p{
        color: white;
        position: relative;
        top: 25px;
        left: 3%;
        width: 180px;
    }
    
    .header-link{
        text-decoration: none;
        color: white;
        position: relative;
        left: 45%;
        bottom: 60px;
        margin: 10px;
    }
    
    .header-link:hover{
        color: #fff;
        background: #000;
    }
    
    .mypage-toggle{
        text-decoration: none;
        color: white;
        position: relative;
        left: 82%;
        bottom: 85px;
    }
    
    .before-header-link{
        text-decoration: none;
        color: white;
        position: relative;
        left: 80%;
        bottom: 60px;
        margin: 10px;
    }
    
    .before-header-link:hover{
        color: #fff;
        background: #000;
    }
}



@media screen and (max-width: 560px){
    .header-main{
        border-bottom: solid 1px white;
    }

    .header-main > h1{
        box-sizing: content-box;
        margin-left: 30px;
        color: white;
        position: relative;
        top: 30px;
        left: 0%;
        width: 120px;
    }

    .header-main > p{
        color: white;
        position: relative;
        top: 25px;
        left: 0%;
        width: 100px;
        font-size: 10px;
        margin-left: 38px;
    }

    .header-link{
        text-decoration: none;
        color: white;
        position: relative;
        top: 25px;
        left: 6%;
        margin: 20px;
    }

    .header-link:hover{
        color: #fff;
        background: #000;
    }

    .mypage-toggle{
        text-decoration: none;
        color: white;
        position: relative;
        left: 50%;
        bottom: 0px;
    }

    .before-header-link{
        text-decoration: none;
        color: white;
        position: relative;
        left: 50%;
        bottom: 60px;
        margin: 10px;
    }
    
    .before-header-link:hover{
        color: #fff;
        background: #000;
    }
}