.mypage{
    position: relative;
    top: 0px;
    left: 700px;
}

.user-icon{
    position: relative;
    bottom: 7px;
    left: 690px;
}

.top-icon{
    position: relative;
    left: 500px;
}

.board-top{
    position: relative;
    top: 0px;
    right: 200px;
}

.login-icon{
    position: relative;
    top: 0px;
    left: 900px;
}