.mypage{
    position: relative;
    top: 0px;
    left: 570px;
}

.user-icon{
    position: relative;
    bottom: 7px;
    left: 550px;
}

.top-icon{
    position: relative;
    left: 450px;
}

.board-top{
    position: relative;
    top: 0px;
    right: 380px;
}

.login-icon{
    position: relative;
    top: 0px;
    left: 900px;
}

.login-icon2{
    position: relative;
    top: 0px;
    left: 730px;
}

.breadcrumb{
    font-size: large;
    margin: 10px;
}

.password-reset-title{
    position: relative;
    top: 0px;
    right: 100px;
}