.flex{
    display: flex;
    margin: 20px;
    border: solid 3px #6091d3;
    border-radius: 10px;
    background: white;
}

.flex .card-img-top1{
    width: 300px;
    height: 400px;
    padding: 10px;
    margin: 10px;
    overflow: hidden;
}

.flex .right {
    margin: 0px;
    padding: 20px;
    position: relative;
    top: 10px;
    left: 20px;
  }

.right p{
    color: #5d627b;
    background: white;
    border-top: solid 5px #5d627b;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
    margin: 30px;
    width: 600px;
}

.body{
    color: #5d627b;
    background: white;
    border-top: solid 5px #5d627b;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
}


.search-box-rakuten{
    width: 600px;
    height: 100px;
    margin: 50px;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    position: relative;
    bottom: 200px;
}

.back-image{
    background: url(/images/back-image.jpg);
    background-size: cover;
}