<% @items.first(10).each do |item| %>
<div class="rakuten-list-group">
  <%= image_tag (item['mediumImageUrls'][0]), size: '128x128' %>
  <br><%= link_to item.name, "#{item.url}",target: :_blank, rel: "noopener noreferrer" %>
  <%= number_with_delimiter(item.price) %>円
</div>
<% end %>